body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.landing-page {
  text-align: center;
  margin-top: 50px;
}

.landing-page h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.landing-page p {
  font-size: 1.2rem;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.arctile-list-div{
  background-image: url('https://cdn.pixabay.com/photo/2016/02/01/00/56/news-1172463_640.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}